/* 
selector {
  property-one : value;
  property-two : value;
}
selector may be:
  - element
  - .class-name
  - #idName
  - [attribute=value]
  - parent child (Descendant Selectors)
  - parent > child
  - selector + sibling
  - selector:pseudo-class
  - selector::pseudo-element
  - mixture of all

part inside {} is called decleration block
pseudo-class is very useful for creating visual effects based on user interaction
if the prop is repeated with another value for the same elem even if with a diff selector it overwrites the prev
*/

h1 {
  color: purple;
}

#first {
  color: green;
}

.second {
  background-color: black;
  color: white;
}

.parent h1 {
  margin: 2px;
}

.parent p span {
  background-color: blue;
}

p > span {
  color: black;
}

a:hover {
  color: orange;
}

/*
there are 5 main ways to reference a color:
  - RGB value
      rgb(intensity of red, intensity of green, intensity of blue)
      rgb(0:255, 0:255, 0:255)
      rgb(255, 0, 0) = red
      rgb(0, 255, 0) = green
      rgb(0, 0, 255) = blue
      rgb(0, 0, 0) = black
      rgb(255, 255, 0) = red + green = yellow
      rgb(255, 0, 255) = red + blue = Fuchsia
      rgb(0, 255, 255) = green + blue = aqua
      rgb(255, 255, 255) = white
      rgb(128, 128, 128) = gray
      if intensities of red = green = blue then it's an intensity of gray

  - RGBA value
      rgba(intensity of red, intensity of green, intensity of blue, transparency|opacity of the color)
      "a" refers to alpha channel
      rgb(0:255, 0:255, 0:255, 0:1)

  - HSL value
      to simplify mental visualization of the color that the val represents
      a newer color model defined as Hue (H), Saturation (S) and Lightness (L)
      a rainbow that has been turned into a full circle
        The Hue val is the deg val on this circle:
          - int num from 0 deg to 360 deg
          - if the number is not int it will be rounded
          - if the number exceeds 360 it will be subtracted to be in the range
          - 0 = 360 = red
          - 120 = green
          - 240 = blue
        Saturation is the dist from the center of the circle to its edge:
          - percentage from 0% to 100%
          -  0% is the center of the circle (color is more grey)
          - 100% is its edge (full color)
        Think of turning the circle into a 3D cylinder where its bottom is more black and toward the top is more white
        Lightness is the distance from the bottom of the cylinder to the top
          - percentage from 0% to 100%
          - 0% is the bottom of the cylinder (color is more black)
          - 100% is its top (color is more white)
      hsl(0:360, 0%:100%, 0%:100%)

  - hex value
      a different number set from 0 to 15 ( 0 - 1 - 2 - 3 - 4 - 5 - 6 - 7 - 8 - 9 - A - B - C - D - E - F )
      Colors specified using hexadecimal are prefixed with a #
      #RRGGBB
        - every 2 digs are from 0x0 to 0xFF (0:255)
        - first 2 digs rep intensity of red
        - 2 middle digs rep intensity of green
        - last 2 digs rep intensity of blue
        - #FF0000 = #F00 = red
        - #00FF00 = #0F0 = green
        - #0000FF = #00F = blue
        - #000000 = #000 = black
        - #FFFF00 = #FF0 = red + green = yellow
        - #FF00FF = #F0F = red + blue = Fuchsia
        - #00FFFF = #0FF = green + blue = aqua
        - #FFFFFF = #FFF = white
        - #808080 = gray
      #(00:FF)(00:FF)(00:FF)
      #(0:FF)(0:F)(0:F)
      if every 2 digs has a repeated val u can write 3 digs only

  - predefined color names (names of colors)
*/

/* 
there are many ways to change how text is displayed:
  - Color (color: )
  - Font (font-family: )
    - Since computers vary in what fonts they have installed, it is recommended to include several fonts sep with ,
    - if the font name is 2+ words use it inside "" if a single word u have the choice to add "" around or not to
  - Size (font-size: )
    - num_value followed by unit like: px
  - Transformation (text-transformation: )
    - none (default value)
    - uppercase (all chars in text are capital form)
    - lowercase (all chars in text are small form)
    - capitalize (every first char in every word in the text in capital form)
  - Decoration (text-decoration: )
    - takes one of the 2 val formats
      - line;
      - line color style thickness;
    - or can be sep to 4 diff prop
      - line (text-decoration-line: )
        - line-through, overline, underline
      - color (text-decoration-color)
      - style (text-decoration-style)
        - solid (default), dotted, dashed, double, wavy
      - thickness (text-decoration-thickness)
        - num_value followed by unit like: px
    - without line all decoration props will not be styled
    - without line and thickness other decoration props will not styled even if they are declared
  - Alignment
    - left (default for ltr langs like: en)
    - right (default for rtl langs like: ar)
    - center
    - justify (spreads the text out so that every line of the text has the same width)
*/

h1 {
  width: 800px;
  padding-left: 20px;
  padding-left: 10px;
  border-left: 5px solid black;
  border-right: 7px dashed green;
  margin-left: 15px;
  margin-right: 20px;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px dotted red;
  border-bottom-width: 3px;
  border-bottom-style: double;
  border-bottom-color: blue;
  margin-top: 15px;
  margin-bottom: 15px;
}

/*
Box Model
  main props
    width & height
      - num_val followed by unit like: (px)
      - percentage % of the parent elem
    padding:
      - top right bottom left; (4 vals)
      - top&bottom right&left; (2 vals)
      - top&right&bottom&left; (1 val)
    border:
      - width style color, width style color, width style color, width style color;
      - it's in CW direc, too
      - can be sep to 3 prop:
        - width (border-width: )
          - num_value followed by unit like: px
        - style (border-style: )
          - none (default), solid, dotted, dashed, double, wavy
        - color (border-color: )
    margin:
      - top right bottom left; (4 vals)
      - top&bottom right&left; (2 vals)
      - top&right&bottom&left; (1 val)

  width
    box width
                                                width
    padding box width
                                  padding-left + width + padding-right
    border box width
                    border-left + padding-left + width + padding-right + border-right
    margin box width
      margin-left + border-left + padding-left + width + padding-right + border-right + margin-right
  
  height
    box height
                                              height
    padding box height
                                padding-top + height + padding-bottom
    border box height 
                   border-top + padding-top + height + padding-bottom + border-bottom
    margin box height 
      margin-top + border-top + padding-top + height + padding-bottom + border-bottom + margin-bottom

  num_val followed by unit like: (px)
*/

/*
block and inline elems
  - block
    - are mainly: div form h p ...
    - appear on a new line
  - inline
    - are like: img a input label b i em span ...
    - Inline elements only occupy the width and height of their content
  - to change elems default we use display prop
    - display: inline;
    - display: block;
*/

/*
HTML Element Alignment
  Aligning an HTML elem is done by changing the properties of its box model and how it impacts the doc flow
  - margin: auto;
  or
  - margin-left: auto;
    margin-right: auto;
    - tells the browser to calc the horizontal margin automatically based on the space available.
    - works with block elem with width < its parent's width
      - if u want to use it with inline elems, turn it first to block by (display: block;)

  - float
    - sets an element's position relative to the text content within a parent elem, Text will wrap around the elem
    - works with inline elems or block elem with width < its parent's width
*/

input[required]:focus {
  border: none;
  outline: none;
  border: 2px dashed #777;
}

input[required]:invalid {
  border: 2px solid red;
}

input[required]:valid {
  border: 2px solid green;
}

/*
Form validation
for input elem selector apply a pseudo-class selector
  - invalid & valid
    the key thing to know is that they are used to select elems based on their state, 
    such as whether the input data is valid or invalid
    all form fields are empty when the form loads initially, their state is still practically invalid
    add CSS prop to set border of elem to red, 
    This will cause all form fields to display red from the start like in this Real-world ex of a login screen
  - focus
    you only want fields to appear red as the user enters invalid data
    checks if the user is currently entering data into this field
    apply another pseudo-class called "focus"
    Now the form will appear normal when the page first loads, 
    and when the user inputs data, the field will turn red if the data is invalid
*/

/*
styling form by CSS
  browsers handle forms diff but with CSS makes all browsers display the form in the same way
  styling of individual elems using selectors. It will display the same across browsers with consistent ux
*/